<!DOCTYPE html>
<html>
  <head>
    <title>Example</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
      <style>
        /*<![CDATA[*/
          a:link {
            color: #61c7dd;
          }
          a:hover {
            color: #59b8cc;
          }
        /*]]>*/
      </style>
    </meta>
  </head>
  <body bgcolor='#161616' leftmargin='0' marginheight='0' marginwidth='0' topmargin='0'>
    <table border='0' cellpadding='0' cellspacing='0' width='100%'>
      <tr>
        <td bgcolor='#161616' valign='top'>
          <table align='center' border='0' cellpadding='0' cellspacing='0' style='font: 14px Helvetica, Arial, sans-serif; color: #767572; line-height: 100%;' width='600'>
            <!-- /HEADER -->
            <tr>
              <td valign='top'>
                <table border='0' cellpadding='0' cellspacing='0' height='204' width='600'>
                  <tr>
                    <td style='height: 63px;'>
                      <table border='0' cellpadding='10' cellspacing='0' width='100%'>
                        <tr>
                          <td style='font-family: Helvetica, Arial, sans-serif; font-size: 11px; color: #808080; padding-top: 15px;'>
                            Recibiste este newsletter porque estás suscripto a Example. No tengas miedo, si cancelás tu suscripción no habrá represalias. Si no querés recibir más este newsletter hacé click
                            <a href="http://example.com/subscriptions/UBSj4Efii3Lo4bXUnHTH/confirm_unsubscribe">acá.</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td style='height: 56px;'>
                      <img alt='' height='56' src='http://example.com/images/arrow.gif' style='display: block;' width='96'>
                    </td>
                  </tr>
                  <tr>
                    <td colspan='2' style='background-image: http://example.com/images/header_top_separator.gif; background-repeat: no-repeat; height: 7px;'>
                      <img alt='' height='7' src='http://example.com/images/header_top_separator.gif' style='display: block;' width='600'>
                    </td>
                  </tr>
                  <tr>
                    <td style='width: 504px; height: 125px;' valign='top'>
                      <table border='0' cellpadding='0' cellspacing='0' style='height: 125px;' width='100%'>
                        <tr>
                          <td bgcolor='#161616' style='height: 10px;' valign='top'> </td>
                        </tr>
                        <tr>
                          <td bgcolor='#161616' style='height: 50px; font-family: Helvetica, Arial, sans-serif; font-size: 55px; font-weight: bold; color: #f9f8f2; letter-spacing: 0px; line-height: 120%;' valign='top'>
                            <img alt='Example' height='68' src='http://example.com/images/logo.png' width='190'>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td valign='top'></td>
                  </tr>
                  <tr>
                    <td colspan='2' style='height: 16px; background-image: http://example.com/images/header_border.gif; background-repeat: no-repeat;' valign='top'>
                      <img height='16' src='http://example.com/images/header_border.gif' width='600'>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- /CONTENT -->
            <tr>
              <td bgcolor='#161616' valign='top'>
                <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                  <tr>
                    <td style='height: 35px;' valign='top'> </td>
                  </tr>
                  <tr>
                    <td valign='top'>
                      <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                        <tr>
                          <td style='font-family: Helvetica, Arial, sans-serif; font-size: 30px; font-weight: normal; color: #4D94DC; letter-spacing: 0px; line-height: 120%;'>
                            Bienvenido a la Famiglia
                          </td>
                        </tr>
                        <tr>
                          <td style='height: 30px;'> </td>
                        </tr>
                        <tr>
                          <td style='font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; color: #dddddd; letter-spacing: 0px; line-height: 120%;'>
                            <p>¡Nos llena de alegría que hayas elegido sumarte a la famiglia Example! Ahora que estás en nuestro círculo de confianza, todos los días vas a tener acceso a increíbles descuentos en almuerzos, cenas, tratamientos de salud y belleza, productos y servicios de todo tipo. No preguntes con que métodos, pero nos comprometemos a ofrecerte siempre por lo menos un 50% de rebaja.</p>
                            Y como tenemos códigos, te garantizamos una increíble experiencia en cada compra. Si alguna vez quedás inconforme el primo Vinnie te devuelve el dinero ya sea en crédito para gastar con nosotros o de regreso en tu tarjeta de crédito o cuenta bancaria.
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- /SEPARADOR -->
            <tr>
              <td style='height: 30px;'> </td>
            </tr>
            <!-- /MAIN DEAL PREVIEW -->
            <tr>
              <td>
                <table border='0' cellpadding='0' cellspacing='0' style='padding-top: 10px;' width='600'>
                  <tr>
                    <td style='font-family: Helvetica, Arial, sans-serif; font-size: 22px; font-weight: normal; color: #ffffff; letter-spacing: 0px; line-height: 120%;'>
                      Empezá ahora a disfrutar de algunos de nuestros descuentos:
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table border='0' cellpadding='0' cellspacing='0' style='padding-top: 20px;' width='600'>
                        <tr>
                          <td colspan='2' style='font-family: Helvetica, Arial, sans-serif; font-size: 17px; font-weight: normal; color: #ffffff; letter-spacing: 0px; padding-bottom: 5px; line-height:105%'>
                            <a href="http://example.com/deals/pizza-grande-para-dos-personas-2-chopps-de-cerveza-por-37" style="color: #4D94DC; text-decoration:none;">¿Cuál es el mejor Plan con amigos? Pizza grande para dos personas + 2 chopps de cerveza por $37 en Cinema Music de Belgrano</a>
                          </td>
                        </tr>
                        <tr>
                          <td width='280'>
                            <a href="http://example.com/deals/pizza-grande-para-dos-personas-2-chopps-de-cerveza-por-37"><img alt='' height='150' src='http://example.com/system/deal_images/local_images/2/original/img_deal2.jpg?1327535012' width='250'>
                            </a>
                          </td>
                          <td width='320'>
                            <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                              <tr align='center' width='100%'>
                                <td align='center' colspan='3' width='70%'>
                                  <a href="http://example.com/deals/pizza-grande-para-dos-personas-2-chopps-de-cerveza-por-37" style="color: #ffffff; text-decoration:none; font-weight:bold; color:#ffffff; font-size:25px; line-height: 180%; background-color: #4D94DC;text-shadow:1px 1px 1px #0D5CAC;border-radius: 5px; padding:10px 10px">$37
                                  ¡Ver!
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td style='height: 30px;'> </td>
                              </tr>
                              <tr>
                                <td align='center' style='font-weight:bold;  line-height: 180%; color:#D84C81;' width='33%'>
                                  Precio
                                </td>
                                <td align='center' style='font-weight:bold;  line-height: 180%; color:#D84C81;' width='34%'>
                                  Ahorrás
                                </td>
                                <td align='center' style='font-weight:bold;  line-height: 180%; color:#D84C81;' width='33%'>
                                  Descuento
                                </td>
                              </tr>
                              <tr>
                                <td align='center' style='color:#ffffff; font-size:17px;' width='33%'>
                                  $150
                                </td>
                                <td align='center' style='color:#ffffff; font-size:17px;' width='34%'>
                                  $113
                                </td>
                                <td align='center' style='color:#ffffff; font-size:17px;' width='33%'>
                                  75%
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- /FOTER -->
            <tr>
              <td>
                <table border='0' cellpadding='0' cellspacing='0' style='padding-top: 10px;' width='600'>
                  <tr>
                    <td colspan='6'>
                      <img alt='' height='25' src='http://example.com/images/footer_05.gif' width='599'>
                    </td>
                    <td rowspan='3' width='1'>
                      <img alt='' height='140' src='http://example.com/images/footer_02.gif' width='1'>
                    </td>
                  </tr>
                  <tr>
                    <td valign='top' width='70%'>
                      <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                        <tr>
                          <td valign='top' width='11%'>
                            <img alt='' height='37' src='http://example.com/images/icon_email_friend.gif' width='37'>
                          </td>
                          <td valign='top' width='5%'> </td>
                          <td valign='top' width='79%'>
                            <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                              <tr>
                                <td>
                                  <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                                    <tr>
                                      <td style='font-family: Helvetica, Arial, sans-serif; font-size: 17px; font-weight: bold; color: #f9f8f2;'>Reclutá a tus amigos</td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td valign='top'> </td>
                              </tr>
                              <tr>
                                <td style='font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #767572;' valign='top'>
                                  ¡Ayudanos a ampliar la famiglia! Invitá a tus amigos.
                                  <br>
                                  <forwardtoafriend>Reenviales este mail</forwardtoafriend>.
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      <p style='font-size: 16px; font-weight: bold; margin: 0; padding: 0 0 6px 0;'> </p>
                    </td>
                    <td valign='top' width='12%'> </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>


